@page
@model RegisterModel
<form method="post">
    <label>Email:</label>
    <input type="email" asp-for="Email" />
    <label>Password:</label>
    <input type="password" asp-for="Password" />
    <button type="submit">Register</button>
</form>
